body {
    display: grid;
    height: 800px;
    gap: 10px;
    background-color: #2e2e2e;
}

.headerDiv , .projectsDiv , .listDiv , .footerDiv {
    border-radius: 20px;
    padding: 28px;
    background-color: #9c9c9c;

}

.headerDiv {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    align-items: center;
    display: flex;
    align-items: center;
    
}

.footerDiv {
    grid-column: 1 / 9;
    grid-row: 10 / 11;
    align-items: center;
    display: flex;
    align-items: center;
    
}

.title {
    font-size: 30px;
}

/* Projects Div*/

.projectsDiv {
    grid-column: 1 / 2;
    grid-row: 2 / 10;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projectsTitle {
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    height: 10px;
}

.projectsContainer {
    border: solid black 2px;
    height: 450px;
}

.projectFooter form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 10px;
}

#newProjectText {
    font-size: 20px;
}


.addProject , #addToDo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
} 

.addDiv {
    display: flex;
    align-items: center;
    gap: 30px;
}

#inputBox {
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#projectInputBox {
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.listName {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-top: 15px;
}

/* To do div */

.listDiv {
    grid-column: 2 / 9;
    grid-row: 2 / 10;
    border: 1px solid black;
}

.toDoList {
    border: 1px solid black;
    height: 530px;
    margin-bottom: 25px;
}

.listTitleDiv {
    display: flex;
    align-items: center;
}

.listTitle {
    margin-left: 25px;
    margin-right: 25px;
}

.remainingIndicator {
    margin-top: 20.5px;
    text-decoration: underline;
}

.toDoList #listContainer {
    border: 1px solid black ;
    margin: 10px;
    height: 440px;
}

/* .toDoList #listContainer ul li {
    font-size: 30px;
    margin: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding-left: 5px;
}
.toDoList #listContainer ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 4.5px;
    left: -34px;
}
.toDoList #listContainer ul li.checked {
    color: #555;
    text-decoration: line-through;
}
.toDoList #listContainer ul li.checked::before {
    background-image: url(../imgs/checked.png);
}

.toDoList #listContainer ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000000;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.toDoList #listContainer ul li span:hover {
    background: #edeef062;
} */