body {
    display: grid;
    height: 800px;
    gap: 10px;
    background-color: #2e2e2e;
}

.headerDiv , .projectsDiv , .todoDiv , .footerDiv {
    border-radius: 20px;
    padding: 28px;
    background-color: #9c9c9c;

}

.headerDiv {
    grid-column: 1 / 9;
    grid-row: 1 / 2;
    align-items: center;
    display: flex;
    align-items: center;
    
}

.footerDiv {
    grid-column: 1 / 9;
    grid-row: 10 / 11;
    align-items: center;
    display: flex;
    align-items: center;
    
}

.title {
    font-size: 30px;
}

/* Projects Div*/

.projectsDiv {
    grid-column: 1 / 2;
    grid-row: 2 / 11;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#projectsTitle {
    padding: 0px;
    font-size: 30px;
    font-weight: bold;
    height: 10px;
}

.projectsContainer {
    border: solid black 2px;
    height: 450px;
}

.projectList {
    margin-top: 50px;
}

.projectList li {
    display: list-item;
    list-style-type: circle;
}

.projectFooter form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; 
    gap: 10px;
}

#newProjectText {
    font-size: 20px;
}


.addProject , #addToDo {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 2px solid black;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
} 

.addTodoDiv {
    display: flex;
    align-items: center;
    gap: 30px;
}

#inputBox {
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#projectInputBox {
    height: 40px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

.projectListName {
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    margin-left: 15px;
    margin-top: 15px;
}

.active-list {
    font-weight:bold;
}

/* To do div */

.todoDiv {
    grid-column: 2 / 9;
    grid-row: 2 / 11;
    border: 1px solid black;
}

.toDoList {
    border: 1px solid black;
    height: 530px;
    margin-bottom: 25px;
}

.todoTitleDiv {
    display: flex;
    align-items: center;
}

.todoTitle {
    margin-left: 25px;
    margin-right: 25px;
}

.remainingIndicator {
    margin-top: 20.5px;
    text-decoration: underline;
}

.addTaskDiv form {
    display: flex;
    align-items: center;
    gap: 8px;
}

.tasks {
    border: 1px solid black ;
    margin: 10px;
    height: 440px;
    padding: 10px;
}

[type="checkbox"] {
    opacity: 0;
    position: abosolute;
}

.task label {
    display: inline-flex;
    align-items: center;
    position: relative;
    
}

.task {
    position: relative;
    margin-bottom: 1.75em;
    margin-top: 1.25em;
}



.task::after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: -0.75em;
    height: 1px;
    background: currentColor;
    opacity: 0.1;
}

.customCheckbox {
    size: o.75em;
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    margin-right: 0.75em;
    margin-left: 1em;
    cursor: pointer;
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: scale(1.2);
    transition: transform 150ms ease-in-out;
}

.task:hover .customCheckbox, [type="checkbox"]:focus + label .customCheckbox {
    transform: scale(1.1);
    color: rgb(0, 0, 0);
}

[type="checkbox"]:checked + label .customCheckbox {
    background: rgb(59, 59, 59);
    border-color: rgb(59, 59, 59);
    box-shadow: inset 0 0 0px 2px white ;
}

[type="checkbox"]:checked + label {
    opacity: 0.5;
}

.task label::after {
    content: '';
    position: absolute;
    left: 2.6em;
    right: -0.15em;
    top: 45%;
    height: 3px;
    background: currentColor;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

[type="checkbox"]:checked + label::after {
    transform: scaleX(1);
}

.deleteTaskDiv {
    display: flex;
    flex-direction: row;
    gap: 20px;
};

/* .toDoList #listContainer ul li {
    font-size: 30px;
    margin: 20px;
    user-select: none;
    cursor: pointer;
    position: relative;
    list-style-type: none;
    padding-left: 5px;
}
.toDoList #listContainer ul li::before{
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 4.5px;
    left: -34px;
}
.toDoList #listContainer ul li.checked {
    color: #555;
    text-decoration: line-through;
}
.toDoList #listContainer ul li.checked::before {
    background-image: url(../imgs/checked.png);
}

.toDoList #listContainer ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #000000;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
}

.toDoList #listContainer ul li span:hover {
    background: #edeef062;
} */